.list-banner-top{
	height:175px;
	width:255px;
}
#hilightbanner_1,
#hilightbanner_2{
	max-height:380px;
	overflow-y: auto;
}

.photo-graph .link-readMore{
	position:absolute; z-index:500; right:0px; top:5px;
}
.box-thumbnail .caption .detail{
	min-height: 75px;
}
.box-thumbnail .caption .detail .text-detail{
	display: block;
}
@media screen and (max-width: 1024px) {
	ul.tabs li{
		font-size: 16px;
		padding:15px 24px;
	}
}
@media screen and (max-width: 992px) {
	ul.tabs li{
		padding:15px;
	}
	ul.tabs li>span{
		font-size:14px;
	}
	.boxminisite .miniData>ul>li a.imagefill {
	    width: 90px;
	    height: 70px;
	}
	.boxminisite .miniData>ul>li .information{
		margin-left:100px;
	}
	ul.tabs li{
		padding:10px;
		margin-bottom: 20px;
	}
	.slick_news .htmlcontent>ul>li:hover a.linksubject{
		padding-top:20px;
		font-size:18px;
	}
	#slick_photo ul.photobox>li a.linksubject{
		padding-top:50px;
	}
	ul.tabs{
		height:auto;
		margin-bottom:0px;
	}
	.inner_menu h2{
		font-size:14px;
		padding:10px 15px;
	}
	.inner_menu ul li>a {
	    padding: 7px 15px;
	    font-size: 13px;
	}
	.boxminisite .miniData>ul>li a.imagefill {
	    width: 60px;
	    height: 40px;
	}
	.boxminisite .miniData>ul>li .information{
		margin-left:70px;
	}
	.boxminisite .bgmini *{
		font-size:12px;
	}
	.boxminisite .mini_left>ul>li>a{
		font-size:12px;
		padding:5px 10px; 
	}
	.boxminisite .miniData h3{
		font-size:16px;
		padding:10px 15px;
	}
	.boxminisite .miniData h3 > span{
		font-size:16px;
	}
	.boxminisite .miniData>ul>li a.subject{
		font-size:14px;
	}
	.boxminisite .miniData>a.readMore{
		font-size:14px;
	}
	
	#slick_job .bgjob .category table tr td{
		font-size:14px;
	}
	#slick_job .bgjob .boxjob h2{
		margin-top:15px;
	}
	#slick_job .bgjob .boxjob ul li{
		padding:4px 0;
	}
	#slick_job .bgjob .boxjob{
		padding:0 15px;
	}
	#slick_job .bgjob img{
		display:none;
	}
	.boxphotograph div{
		height:auto;
	}
}
@media screen and (max-width: 767px) {
	.boxminisite .bgmini>div{
		clear:both;
	}
	.boxminisite .miniData>ul>li {
	    width: 100%;
	    padding: 5px 10px;
	    border-bottom: 1px solid #e8e8e8;
	}
	.miniTAB .slick-prev,
	.miniTAB .slick-next{
		display:none !important;
	}
	.photo-graph .link-readMore{
		top:0;
		right:10px;
	}
	.boxminisite{
		margin-bottom:10px;
	}
	.tabnewmobile{
		display:block;
	}
    .tabs,
    .tab_container {
        display: none;
    }
    #container_body2 .title-theme h2{
		margin-bottom:5px;
		padding-left:10px;
		font-size:20px;
    }
    #container_body2 .container{
    	padding-left:10px;
    	padding-right:10px;
    }
	#service .close{
		top:-20px;
		right:0px;
	}
}
@media screen and (max-width: 550px) {
	.list-banner-top{
		width:100%;
		text-align:center;
	}
}
#container_body1,
.boxminisite{
	/* display:none; */
}